<p-card header="Título de la Noticia" subheader="10 de abril de 2025">
    <img src="https://via.placeholder.com/600x200" alt="Imagen de la noticia" class="w-full mb-3"/>
  
    <p class="m-0">
      Este es un resumen o contenido principal de la noticia. Puede incluir información relevante
      para los socios del club, como eventos, comunicados o novedades importantes.
    </p>
  
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Leer más" icon="pi pi-chevron-right" class="p-button-text"></button>
    </ng-template>
  </p-card>
  